<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
		<table class="table"> 
			<tr>
				<th>제목</th>
				<th>작성자</th>
				<th>등록 날짜</th>
				<th>
					<button type="button" class="btn btn-dark" th:onclick="|location.href='/board/insert'|">글쓰기</button>
				</th>
			</tr>
			<tr>
				
			</tr>
		</table>
    </div>
</th:block>
</html>